.registration-container  
  %h2.user-information ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .name-field
      氏名(管理者:塾長)
      %br/
      = f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "例)田中太郎"
    .password-field
      = f.label :パスワード
      %br/
      = f.password_field :password, autocomplete: "current-password", placeholder: "アルフベット6字以上"
    - if devise_mapping.rememberable?
      .field
    #actions-regist-login
      = f.submit "ログイン", class:"actions-regist-login"

= render "devise/shared/links"